{% if user.is_superuser and user.is_authenticated %}
    <a class="bom-nav-link" title="Admin" href="/admin/" target="_blank">{% trans "Admin" %}</a>
{% endif %}
{% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}" class="inline">
        {% csrf_token %}
        <button type="submit" class="bom-nav-link" title="{% trans "logout" %}">
            <i class="material-icons text-base">logout</i>
            {{ user.username }}
        </button>
    </form>
{% endif %}
{% if not user.is_authenticated %}
    <a class="bom-nav-link" title="login" href="{% url 'login' %}">{% trans "Log in" %}</a>
    <a class="bom-nav-link" title="register" href="{% url 'signup' %}">{% trans "Register" %}</a>
{% endif %}
