{# If you're using a form / want actions: form_name, form_action, form_select_name, form_select_actions (dict: {select_value: title}),  #}
<form name="{{ form_name }}" action="{{ form_action }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row" style="margin-bottom: 0;">
            <div class="input-field col s10 m4">
                <select name="{{form_select_name}}">
                    <option value="" disabled selected>Choose your action</option>
                    {% for val, title in form_select_actions.items %}
                    <option value="{{ val }}">{{title}}</option>
                    {% endfor %}
                </select>
                <label>Action</label>
            </div>
            <div class="col s2 m2">
                <div class="input-field">
                    <button class="waves-effect waves-light btn btn-primary" type="submit">Go</button>
                </div>
            </div>
        </div>
        <table class="striped tight">
            <thead>
            <tr>
                <th class="text-normal"><label><input type="checkbox" id="{{ form_select_name }}-select-all"><span></span></label></th>

                {% block bom-table-headers %}{% endblock %}
            </tr>
            </thead>
            <tbody>
            {% block bom-table-items %}{% endblock %}
            </tbody>
        </table>
</form>