{# If you're using a form / want actions: form_name, form_action, form_select_name, form_select_actions (dict: {select_value: title}),  #}
<form name="{{ form_name }}" action="{{ form_action }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="bom-action-bar">
            <div class="flex flex-wrap items-center gap-2">
                <select name="{{form_select_name}}" class="bom-select w-auto min-w-48">
                    <option value="" disabled selected>Choose your action</option>
                    {% for val, title in form_select_actions.items %}
                    <option value="{{ val }}">{{title}}</option>
                    {% endfor %}
                </select>
                <button class="bom-btn-primary" type="submit">Go</button>
            </div>
        </div>
        <div class="bom-table-wrap">
        <table class="bom-table">
            <thead>
            <tr>
                <th class="text-normal"><label><input type="checkbox" id="{{ form_select_name }}-select-all"></label></th>

{# CAN YOU HAVE BLOCKS ON INCLUDES? #}
                {% block bom-table-headers %}{% endblock %}
            </tr>
            </thead>
            <tbody>
            {% block bom-table-items %}{% endblock %}
            </tbody>
        </table>
        </div>
</form>
