{% extends BASE_TEMPLATE %}

{# This template is for anything we want in the BOM app and should not be overridden. Anything that can be overriden should be in BASE_TEMPLATE, or base.html #}

{% block menu %}
    {% block bom-menu %}{% endblock %}
    {% include 'bom/bom-base-menu.html' %}
{% endblock %}

{% block menu-mobile %}
    {% block bom-menu-mobile %}{% endblock %}
    {% include 'bom/bom-base-menu.html' %}
{% endblock %}

{% block script %}
    <!-- materialize form select -->
    <script>
    $(document).ready(function () {
        $('select').formSelect();
        $('.sidenav').sidenav();
    });
    </script>
    <!-- Show the existing filename in Materialize's (otherwise empty) file-path box for any file
         field that already has a value, so a saved file doesn't look like nothing is set. -->
    <script>
    $(function () {
        document.querySelectorAll('input[type=file][data-current-file]').forEach(function (input) {
            var field = input.closest('.file-field');
            var path = field && field.querySelector('.file-path');
            if (path && !path.value) {
                path.value = input.getAttribute('data-current-file');
            }
        });
    });
    </script>
    {% block bom-script %}{% endblock %}
{% endblock script %}