{% extends BASE_TEMPLATE %}

{% load staticfiles %}

{% block head-title %}Create Part{% endblock %}

{% block title %}
<link rel="stylesheet" type="text/css" href="{% static 'bom/style.css' %}" />
Create New Part
{% endblock %}

{% block menu %}
<li><a href="{% url 'home' %}">Cancel</a></li>
{% endblock%}

{% block content %}
<div class="row">
    <form action="{% url 'create-part' %}" method="post" class="col s12">
        {% csrf_token %}

        {{ form.non_field_errors }}
        <div class="row">
            <div class="fieldWrapper col s6">
                <label for="{{ form.number_class.id_for_label }}"><b>Part Number Class:</b></label>
                {{ form.number_class.errors }}
                {{ form.number_class }}
            </div>
            <div class="fieldWrapper col s3">
                <label for="{{ form.number_item.id_for_label }}">Part Number:</label>
                {{ form.number_item.errors }}
                {{ form.number_item }}
            </div>
            <div class="fieldWrapper col s3">
                <label for="{{ form.number_variation.id_for_label }}">Part Variation:</label>
                {{ form.number_variation.errors }}
                {{ form.number_variation }}
            </div>
        </div>
        <div class="row">
            <div class="fieldWrapper col s2">
                <label for="{{ form.revision.id_for_label }}"><b>Revision</b><br></label>
                {{ form.revision.errors }}
                {{ form.revision }}
            </div>
            <div class="fieldWrapper col s10">
                <label for="{{ form.description.id_for_label }}"><b>Description</b> <i>(Max 255 characters.)</i></label>
                {{ form.description.errors }}
                {{ form.description }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Manufacturer <i>(skip if custom part)</i></p>
            </div>
        </div>
        <div class="row">
            <div class="fieldWrapper col s6">
                <label for="{{ form.manufacturer.id_for_label }}">Select existing Manufacturer</label>
                {{ form.manufacturer.errors }}
                {{ form.manufacturer }}
            </div>
            <div class="fieldWrapper col s6">
                <label for="{{ form.new_manufacturer.id_for_label }}">-or- Create New Manufacturer</label>
                {{ form.new_manufacturer.errors }}
                {{ form.new_manufacturer }}
            </div>
        </div>
        <div class="row">
            <div class="fieldWrapper col s6">
                <label for="{{ form.manufacturer_part_number.id_for_label }}"><b>Manufacturer Part Number</b></label>
                {{ form.manufacturer_part_number.errors }}
                {{ form.manufacturer_part_number }}
            </div>
        </div>

        <input class="waves-effect waves-light btn green lighten-1" type="submit" value="Create" />
        <a href="{% url 'home' %}" class="waves-effect waves-light btn green lighten-1">Cancel</a>
    </form>
</div>
{% endblock %}