{% extends 'bom/bom-base.html' %}

{% load static %}
{% load bom_forms %}

{% block head-title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container-app">
        {% if profile.role == 'A' %}
            <form action="{% url 'bom:part-class-edit' part_class_id=part_class.id %}" method="post" class="bom-panel-pad">
                {% csrf_token %}
                {{ part_class_form.non_field_errors }}
                <div class="row">
                    {{ part_class_form.code|bom_form:'s12 m2' }}
                    {{ part_class_form.name|bom_form:'s12 m6' }}
                    {{ part_class_form.comment|bom_form:'s12 m12' }}
                </div>
                <div class="mt-4 flex justify-between">
                    <a href="{% url 'bom:settings' %}indabom" class="bom-btn-ghost">انصراف</a>
                    <button class="bom-btn-primary" type="submit" name="action">{% trans "Save" %}</button>
                </div>
            </form>
        {% else %}
            {% include 'bom/nothing-to-see.html' with required_privilege='Admin' %}
        {% endif %}
    </div>
{% endblock %}
