{% extends 'bom/bom-base.html' %}

{% load static %}

{% block head-title %}Help{% endblock %}

{% block main %}
{% endblock %}

{% block bom-menu %}
{% endblock %}

{% block content %}
    <div class="container" style="font-size: 16px;">
        <h1 class="text-center">این صفحه در حال حاضر به روز نیست و محتوای آن با تغییرات سیستم هماهنگ نشده است.</h1>
        <div class="row">
            <div class="col hide-on-small-only m3 xl3 offset-xl1">
                <ul id="toc" class="section table-of-contents">
                    {% include 'bom/table_of_contents.html' %}
                </ul>
            </div>
        </div>
    </div>
    <div class="fixed bottom-6 end-6 z-40 printer-hide" id="toTop">
        <a class="bom-btn-primary inline-flex size-12 items-center justify-center rounded-full shadow-lg" href="#" aria-label="Back to top">
            <i class="material-icons">arrow_upward</i>
        </a>
    </div>
{% endblock %}

{% block script %}
    <script>
        $("#toTop").click(function () {
            //1 second of animation time
            //html works for FFX but not Chrome
            //body works for Chrome but not FFX
            //This strange selector seems to work universally
            $("html, body").animate({scrollTop: 0}, 500);
        });

        $(document).ready(function () {
            $('.fixed-action-btn').floatingActionButton();
        });
    </script>
{% endblock %}
