{% extends BASE_TEMPLATE %}

{% load materializecss %}
{% load staticfiles %}

{% block head-title %}{{title}}{% endblock %}

{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'bom/style.css' %}" />
{% endblock %}

{% block menu %}
<li><a href="javascript:history.back()">Cancel</a></li>
{% endblock%}

{% block content %}
    <form name="seller" action="{{ action }}" method="post" class="col s12">
    {% csrf_token %}
    	<div class="row">
        <p>This part is used by {{ used_part_revisions.count }} working parent assemblies. Select any parent assemblies you want to roll this revision into:</p>
            <ul>
            {% for upr in used_part_revisions %}
                <li>{{ upr.part.full_part_number }} Rev {{ upr.revision }} {{ upr.description }}</li>
            {% endfor %}
            </ul>
		</div>
        <div class="row">
	        <div class="col s6">
                <a href="javascript:history.back()" class="waves-effect waves-light btn-flat grey-text lighten-1" style="margin-left: -16px;">Cancel</a>
            </div>
            <div class="col s6 right-align">
	        	<button class="waves-effect waves-light btn green lighten-1" type="submit" name="action">Save</button>
	    	</div>
    	</div>
    </form>
{% endblock %}