{% extends 'bom/bom-base.html' %}

{% load static %}
{% load bom_forms %}

{% block head-title %}{{ title }}{% endblock %}

{% block main %}
    {{ add_subpart_form.media }}
{% endblock %}

{% block bom-menu %}
{% endblock %}

{% block content %}
    <div class="part-info container-app">
        <a href="{% url 'bom:part-info' part_id=part.id %}">بازگشت به {{ part.full_part_number }}</a>
        <!-- <h5>{{ part.description }}</h5> -->
        <div id="bom" class="col s12">
            <br><h5>ویرایش زیرشاخه‌ها</h5>

            {% include 'bom/components/bom-indented.html' with order_by='indented' manage=1 bom_items=indented_bom.parts part=part part_revision=part_revision profile=profile %}

            <br><h5>افزودن زیرشاخه</h5>
            <form action="{% url 'bom:part-add-subpart' part_id=part.id part_revision_id=part_revision.id %}"
                    method="post" class="col s12">
                <div class="row">
                    {% csrf_token %}
                    {{ add_subpart_form.subpart_part_number|bom_form:'m4 s12' }}
                    {{ add_subpart_form.count|bom_form:'m1 s12' }}
                    {{ add_subpart_form.do_not_load|bom_form:'hidden' }}
                    {{ add_subpart_form.reference|bom_form:'hidden' }}
                    <div class="fieldWrapper input-field">
                        <button class="waves-effect waves-light btn green lighten-1" type="submit" name="action">افزودن
                        </button>
                    </div>
                </div>
            </form>
            <br><h5>افزدون کل زیرشاخه‌ها</h5>
            <p>برای افزدون زیرشاخه‌ها یک فایل csv آپلود کنید که حداقل دو ستون داشته باشد:
                <b>part_number</b> <i>یا</i> <b>manufacturer_part_number</b> و <b>quantity</b>; ستون‌های 'part_number' یا
                'manufacturer_part_number' باید کدهایی باشند که قبلاً در این سیستم تعریف شده‌اند.</p>
            <p>ستون‌های اضافه: 'reference' یا 'designator' برای افزودن فیلد رفرنس به زیرشاخه ;
               'do_not_load' اگر نمی‌خواهید متریال به در درخت لود شود.</p>
            <div class="row">
                <form action="{% url 'bom:part-upload-bom' part_id=part.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col m6 s9 file-field input-field">
                        <div class="green lighten-1 btn">
                            <span>انتخاب فایل</span>
                            {{ upload_subparts_csv_form.file }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="آپلود فایل">
                            {{ upload_subparts_csv_form.file.errors }}
                        </div>
                    </div>
                    <div class="col m1 s3 input-field">
                        <input class="green lighten-1 btn" type="submit" value="آپلود"/>
                    </div>
                </form>
                <div class="col m2 s6 input-field">
                    <a href="{% url 'bom:part-info' part_id=part.id %}" class="waves-effect waves-light btn-flat grey-text lighten-1" style="margin-left: -16px;">انصراف</a>
                </div>
            </div>
            <br>
        </div>
    </div>
{% endblock %}

{% block bom-script %}
    <!-- Tree Table -->
    <script src="{% static 'bom/js/jquery.treetable.js' %}"></script>
    <script>
        $("#indented-bom").treetable({
            expandable: true,
            indent: 2,
            initialState: 'collapsed',
            onInitialized: function () {
                $("#indented-bom").treetable("reveal", {{ part_revision.id }});
            }
        });
    </script>

    <!-- Floating Horizontal Scrollbar -->
    <script type="text/javascript" src="{% static 'bom/js/jquery.ba-floatingscrollbar.min.js' %}"></script>
    <script>
        $(function () {
            $('.responsive-table-wrapper').floatingScrollbar();
        });
    </script>

    <!-- Handle if there's an anchor, select tab -->
    <script type='text/javascript'>
        // For dropdown menu
        $(document).ready(function () {
            $('.dropdown-trigger').dropdown({
                    inDuration: 300,
                    outDuration: 225,
                    constrainWidth: false, // Does not change width of dropdown to that of the activator
                    hover: false, // Activate on hover
                    gutter: 0, // Spacing from edge
                    alignment: 'left', // Displays dropdown with edge aligned to the left of button
                    stopPropagation: false, // Stops event propagation
                    coverTrigger: false
                }
            );

        });
    </script>
{% endblock bom-script %}