{% extends 'bom/bom-base.html' %}

{% load static %}
{% load bom_forms %}

{% block head-title %}{{ title }}{% endblock %}

{% block main %}
{% endblock %}

{% block bom-menu %}
    <a class="bom-nav-link" href="{% url 'bom:part-info' part_id=part.id %}">انصراف</a>
{% endblock %}

{% block content %}
    <div class="container-app">
        {% if profile.role == 'A' %}
        <div class="row">
            <form name="form" action="{% url 'bom:sellerpart-edit' sellerpart_id=seller_part.id %}" method="post" class="col s12">
                {% csrf_token %}
                <h2>{% trans "Seller" %}</h2>
                <p>در صورت محصول بودن "{{ organization }}" را به عنوان تأمین کننده انتخاب کنید.</p>
                <div class="row">
                    {{ seller_form.non_field_errors }}
                    {{ seller_part_form.non_field_errors }}
                    {{ seller_part_form.seller_part_number|bom_form:'l2 m3 s12' }}
                    {{ seller_form.name|bom_form:'l3 m3 s12' }}
                    {{ seller_part_form.unit_cost|bom_form:'l2 m3 s12' }}
                </div>
                <div class="row">
                    <div class="col l3 m5 s6">
                        <a href="javascript:history.back()" class="bom-btn-ghost">انصراف</a>
                    </div>
                    <div class="col l4 m5 s6 left-align">
                        <button class="bom-btn-primary" type="submit" name="action">{% trans "Save" %}</button>
                    </div>
                </div>
            </form>
        </div>
        {% else %}
            {% include 'bom/nothing-to-see.html' with required_privilege='Admin' %}
        {% endif %}
    </div>
{% endblock %}