:80

encode zstd gzip

handle /api/* {
	reverse_proxy web:8000
}

handle_path /static/* {
	root * /app/staticfiles
	header Cache-Control "public, max-age=86400"
	file_server
}

handle {
	reverse_proxy web:8000
}
