{# To include this widget, make sure to pass: `parts`, `order_by`, `part`, `part_revision`, `profile` variables  - TODO Could remove part if we pass part revision #}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'bom/css/treetable-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bom/css/jquery.treetable.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bom/css/tablesorter-theme-bom.css' %}"/>
{% endblock %}

<div class="row printer-hide" style="padding-top: 16px;">
    <div class="col s6 left left-align">
        <a class="bom-btn-icon button-expand" data-position="bottom" data-tooltip="Expand BOM" onclick="expandTree()"><i class="material-icons">unfold_more</i></a>
        <a class="bom-btn-icon button-collapse" data-position="bottom" data-tooltip="Collapse BOM" onclick="collapseTree()"><i class="material-icons">unfold_less</i></a>
        <a class="bom-btn-icon button-reset-filter-indented" data-position="bottom" data-tooltip="Reset filter" onclick="refreshTableSorterIndented()"><i
                class="material-icons">refresh</i></a>
    </div>
    <div class="col s6 right-align">
        {% if manage and profile.role == 'A' %}
            <a class="bom-btn-danger"
               href="{% url 'bom:part-remove-all-subparts' part_id=part.id part_revision_id=part_revision_id %}"
               onclick="return confirm('همه زیرشاخه‌های درخت محصول  {{ part.full_part_number }} خذف شوند?')">حذف همه زیرشاخه‌ها</a>
        {% else %}
            <!-- Dropdown Trigger -->
            <button class="dropdown-trigger-indented bom-btn-secondary" data-target='manage-bom-{{ part.id }}-indented'>
                <i class="material-icons right">settings</i><i class="material-icons left">arrow_drop_down</i>مدیریت
            </button>
            <!-- Dropdown Structure -->
            <ul id='manage-bom-{{ part.id }}-indented' class='dropdown-content'>
                {% if profile.role == 'A' %}
                    <li>{% if part_revision.configuration == 'W' %}
                        <a class="green-text text-lighten-1" href="{% url 'bom:part-manage-bom' part_id=part.id part_revision_id=part_revision.id %}">
                            <i class="material-icons green-text text-lighten-1 right">edit</i>ویرایش درخت محصول</a>
                    {% else %}
                        <a class="grey-text text-lighten-1" onclick="alert('Can\'t edit a released part!')"><i class="material-icons grey-text text-lighten-1">edit</i>ویرایش درخت محصول (BOM)</a>
                    {% endif %}
                    </li>
                {% endif %}
                {% if part_revision %}
                    <li><a class="green-text text-lighten-1" href="{% url 'bom:part-revision-export-bom' part_revision_id=part_revision.id %}">
                        <i class="material-icons green-text text-lighten-1 right">cloud_download</i>دانلود CSV</a>
                    </li>
                    <li><a class="green-text text-lighten-1" href="{% url 'bom:part-revision-export-bom-sourcing' part_revision_id=part_revision.id %}">
                        <i class="material-icons green-text text-lighten-1 right">cloud_download</i>دانلود CSV (منابع تأمین)</a>
                    </li>
                    <li><a class="green-text text-lighten-1" href="{% url 'bom:part-revision-export-bom-sourcing-detailed' part_revision_id=part_revision.id %}">
                        <i class="material-icons green-text text-lighten-1 right">cloud_download</i>دانلود CSV (جزئیات تأمین)</a>
                    </li>
                {% else %}
                    <li><a class="green-text text-lighten-1 disabled" href=""><i class="material-icons green-text text-lighten-1 right">cloud_download</i>دانلود CSV</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>
<div class="bom-table-wrap responsive-table-wrapper">
    <table id="indented-bom" class="bom-table part-list single-line">
        <thead>
        <tr>
            <th class="text-normal printer-hide">سطح</th>
            <th class="text-normal">کد</th>
            <th class="text-normal">مقدار</th>
            <!--<th class="text-normal printer-hide">رفرنس</th>-->
            <!--<th class="text-normal">DNL</th>-->
            <th class="text-normal">شرح</th>
            <th class="text-normal printer-hide">ورژن</th>
            <!-- <th class="text-normal">{% trans "Manufacturer" %}</th>-->
            <!-- <th class="text-normal">کد تولید کننده</th> -->
            <!-- <th class="text-normal"><i>Ext. Qty</i></th> -->
            <!-- <th class="text-normal"><i>Order Qty</i></th> -->
            <th class="text-normal printer-hide">{% trans "L.O.I" %}</th>
            <th class="text-normal bom-num">قیمت</th>
            <!-- <th class="text-normal"><i>Ext Cost</i></th> -->
            <!-- <th class="text-normal">NRE</th> -->
            <!-- <th class="text-normal">Childs Qty</th> -->
            <!-- <th class="text-normal">Childs Cst</th> -->
            {% if profile.role == 'A' and manage %}
                <th class="sorter-false" data-sorter="false">{% trans "Manage" %}</th>
            {% endif %}
        </tr>
        </thead>
        {% for bom_id, subpart in bom_items.items %}
            {% if subpart.indent_level %}
                {% if subpart.part_revision.description|length > 75 %}
                    <div id="modal-{{ subpart.part.id }}-synposis" class="modal">
                        <div class="modal-content">
                            <h2>{{ subpart.part.full_part_number }} Synposis</h2>
                            <p>{{ subpart.part_revision.description }}</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close bom-btn-primary">Ok</a>
                        </div>
                    </div>
                {% endif %}
                <tr data-tt-id="{{ bom_id }}"
                    {% if subpart.parent_id %}data-tt-parent-id="{{ subpart.parent_id }}"{% endif %}>
                    <td class="text-normal printer-hide">{{ subpart.indent_level }}</td>
                    <td class="text-normal"><a href="{% url 'bom:part-info' part_id=subpart.part.id %}">{{ subpart.part.full_part_number }}</a></td>
                    <td class="text-normal">{{ subpart.quantity | floatformat }}</td>
                    <td class="text-normal">{{ subpart.part_revision.description | truncatechars:75 }}{% if subpart.part_revision.description|length > 75 %}
                        <a class="modal-trigger modal-{{ subpart.part.id }}-synposis" href="#modal-{{ subpart.part.id }}-synposis">&nbsp;[+]</a>
                    {% endif %}
                    <td class="text-normal printer-hide">{{ subpart.part_revision.revision }}</td>
                    <td class="text-normal printer-hide" id="bom-indented-seller-name-{{ subpart.part_revision.id }}">{{ subpart.part_revision.tolerance | default:"-" }}</td>
                    <td class="text-normal bom-num" id="bom-indented-unit-cost-{{ subpart.part_revision.id }}">
                        {% if subpart.unit_cost %}
                            {{ subpart.unit_cost }}
                        {% else %}
                            {{ subpart.seller_part.unit_cost | default:"-" }}
                        {% endif %}
                    </td>
                    {% if subpart.indent_level == 1 and subpart.subpart is not None and manage %}
                        <td>
                            <a class='dropdown-trigger' href='#'
                            data-target='dropdown{{ subpart.subpart.id }}'><i class="material-icons green-text">more_horiz</i></a>
                            <!-- Dropdown Structure -->
                            <ul id='dropdown{{ subpart.subpart.id }}' class='dropdown-content'>
                                <li><a class="green-text text-lighten-1"
                                    href="{% url 'bom:part-edit-subpart' part_id=part.id part_revision_id=part_revision_id subpart_id=subpart.subpart.id %}"><i
                                        class="material-icons green-text text-lighten-1 right">edit</i>ویرایش با تغییر ورژن</a>
                                <li class="divider" tabindex="-1"></li>
                                <li><a class="red-text text-lighten-1"
                                    href="{% url 'bom:part-remove-subpart' part_id=part.id part_revision_id=part_revision.id subpart_id=subpart.subpart.id %}"
                                    onclick="return confirm('Are you sure you want to remove {{ subpart.part.full_part_number }}?')"><i
                                        class="material-icons red-text text-lighten-1 right">delete_forever</i>{% trans "Delete" %}</a>
                                </li>
                            </ul>
                        </td>
                    {% elif manage %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endif %}
        {% empty %}
            <tr>
                <td colspan="99" style="text-align: center; height: 20vh;"><i>این متریال شامل هیچ متریال دیگری نیست.</i></td>
            </tr>
        {% endfor %}
    </table>
</div>

<!-- Tree Table -->
<script src="{% static 'bom/js/jquery.treetable.js' %}"></script>
<script>
    $("#indented-bom").treetable({
        expandable: true,
        indent: 2,
        initialState: 'collapsed',
        onInitialized: function () {
            $("#indented-bom").treetable("reveal", {{ part_revision.id }});
            $('.button-collapse').hide();
        },
        onNodeCollapse: function () {
            $('.button-expand').show();
        },
        onNodeExpand: function () {
            $('.button-collapse').show();
        }
    });

    function expandTree() {
        $('#indented-bom').treetable('expandAll');
        $('.button-expand').hide();
        return false;
    }

    function collapseTree() {
        $('#indented-bom').treetable('collapseAll');
        $('#indented-bom').treetable("reveal", {{ part_revision.id }});
        $('.button-collapse').hide();
        return false;
    }
</script>

<!-- Table Sorter -->
<script type="text/javascript" src="{% static 'bom/js/jquery.tablesorter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bom/js/jquery.tablesorter.widgets.min.js' %}"></script>
<script>
    $(function () {
        $("#indented-bom").on('update', initTableSorterIndented);
        initTableSorterIndented();
    });

    function initTableSorterIndented() {
        $('.button-reset-filter-indented').hide();
        $("#indented-bom").tablesorter({
            theme: "materialize",
            headers: {
                '.manage': {
                    sorter: false
                }
            }
        }).bind("sortEnd", function (e, t) {
            $('.button-reset-filter-indented').show();
        });
    }

    function refreshTableSorterIndented() {
        $('#indented-bom').trigger('sortReset');
        $('.button-reset-filter-indented').hide();
        return false;
    }
</script>

<script>
    $(document).ready(function () {
        $('.dropdown-trigger-indented').dropdown({
            inDuration: 200,
            outDuration: 225,
            constrainWidth: false, // Does not change width of dropdown to that of the activator
            hover: false, // Activate on hover
            gutter: 0, // Spacing from edge
            alignment: 'left', // Displays dropdown with edge aligned to the left of button
            stopPropagation: false, // Stops event propagation
            coverTrigger: false
        });

        $('.tooltipped').tooltip();
    });
</script>

<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
</script>