{# To include this widget, make sure to pass: `manufacturer_parts`, `profile`, (optional, for mouser) `part_revision` variables  #}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'bom/css/treetable-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bom/css/jquery.treetable.css' %}"/>
{% endblock %}

{% if seller_parts %}
<div class="bom-table-wrap responsive-table-wrapper">
    <table id="seller-parts" class="bom-table treetable">
        <thead>
        <tr>
            <th>{% trans "Part" %}</th>
            <th>{% trans "Seller" %}</th>
            <th>{% trans "Seller Part Number" %}</th>
            <th class="bom-num">قیمت</th>
            <th colspan="2">گزینه‌ها</th>
        </tr>
        </thead>
        <tbody>
            {% for seller_part in seller_parts %}
                <tr data-tt-id="0" data-tt-parent-id="{{ seller_part.id }}" {% if forloop.last %}id="sourcing-{{ seller_part.id }}-last"{% endif %}>
                    <td><a href="{% url 'bom:part-info' part_id=seller_part.manufacturer_part.part_id %}">{{ seller_part.manufacturer_part.part }}</a></td>
                    <td>{{ seller_part.seller.name }}</td>
                    <td>{{ seller_part.seller_part_number }}</td>
                    <td class="bom-num">{{ seller_part.unit_cost }}</td>
                    <td>{% if profile.role == 'A' %}
                        <a href="{% url 'bom:sellerpart-edit' sellerpart_id=seller_part.id %}"><i
                            class="material-icons green-text text-lighten-1 right">edit</i></a>
                        <a href="{% url 'bom:sellerpart-delete' sellerpart_id=seller_part.id %}"><i
                            class="material-icons red-text text-lighten-1 right">delete_forever</i></a>
                    {% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Floating Horizontal Scrollbar -->
<script type="text/javascript" src="{% static 'bom/js/jquery.ba-floatingscrollbar.min.js' %}"></script>
<script>
    $(function () {
        $('.responsive-table-wrapper').floatingScrollbar();
    });
</script>
{% else %}
<div class="center-align" style="padding: 10vh 0;">
    <i>هیچ تأمین کننده‌ای مشخص نشده است.</i>
</div>
{% endif %}
